<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
</head>
<body>
  <h1> LOGIN PAGE </h1>
  <h2>Email</h2>
  <form action="/login" method= "POST" >
    <p>Email: <input type="email" name="email"/></p>
  <h2>Password</h2>
    <p>Email: <input type="password" name="password"/></p>
    <button>Submit!</button>
  </form>
</body>
</html>